<p id="notice"><%= notice %></p>

<h1>Playlists</h1>

<table>
    <tr>
      <th>Ltitle</th>
      <th>Ldate</th>
      <th>Lpublic</th>
      <th colspan="3"></th>
    </tr>

    <% @playlists.each do |playlist| %>
      <tr>
        <td><%= playlist.ltitle %></td>
        <td><%= playlist.ldate %></td>
        <td><%= playlist.lpublic %></td>
        <td><%= link_to 'Show', playlist %></td>
        <td><%= link_to 'Edit', edit_playlist_path(playlist) %></td>
        <td><%= link_to 'Destroy', playlist, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
</table>

<br>

<%= link_to 'New Playlist', new_playlist_path %>
