<div id="rwarp" class="col-lg-11  ">
	<p id="notice"><%= notice %></p>

	<p>
	  <strong>Ltitle:</strong>
	  <%= @playlist.ltitle %>
	</p>

	<p>
	  <strong>Ldate:</strong>
	  <%= @playlist.ldate %>
	</p>

	<table>
		<tr>
			<th>Track Title</th>
			<th>Genre</th>
			<th>Included in</th>
			<th>Link</th>
			<th>Delete</th>
		</tr>
		<% @playlist.tracks.each do |track|%>
			<tr>
				<td><%= track.ttitle%></td>
				<td><%= track.tgenre%></td>
				<td><%= track.albums.map {|a| a.atitle}.join(' ') %></td>
				<td><a href=<%= play_track_path(track) %>>click here to play</a></td>
				<td><%= link_to 'Delete', delete_track_playlist_url(@playlist)+'?tid='+ track.tid.to_s, method: :delete %></td>
			</tr>
		<% end%>

	</table>
</div>
