<div id = "rwarp" class="col-lg-11  ">

	<p id="notice"><%= notice %></p>

	<h3>Users</h3>

	<table>
		<tr>
		  <th>Uname</th>
		  <th>Uemail</th>
		  <th>Ucity</th>
		  <th>Follow/Unfollow</th>
		</tr>

		<% @users.each do |user| %>
		  <tr>
			<td><%= user.uname %></td>
			<td><%= user.uemail %></td>
			<td><%= user.ucity %></td>
			<%if false %>
					<td><%= link_to 'Show', user %></td>
					<td><%= link_to 'Edit', edit_user_path(user) %></td>
					<td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
			<% end %>
			<td><%= render partial: 'users/follow_or_unfollow_href',locals:{uid: user.uid} %></td>
		  </tr>
		<% end %>
	</table>

</div>