<h1>New User</h1>

<%= #render 'form', user: @user 
%>
<%= #@user.inspect 
%>
<%= form_for(@user) do |f| %>
    <%= f.label :uname , "Name"  %>
    <%= f.text_field :uname %>

    <%= f.label :uemail, "Email" %>
    <%= f.email_field :uemail %>

    <%= f.label :ucity, "City"  %>
    <%= f.text_field :ucity %>

    <%= f.label :ulogin, "Login" %>
    <%= f.text_field :ulogin %>

    <%= f.label :upassword, "Password"  %>
    <%= f.password_field :upassword %>

    <%= f.submit "Create my account", class: "btn btn-primary" %>
<% end %>
<%= link_to 'Back', users_path %>
