<p id="notice"><%= notice %></p>

<h1>Playlist Tracks</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @playlist_tracks.each do |playlist_track| %>
      <tr>
        <td><%= link_to 'Show', playlist_track %></td>
        <td><%= link_to 'Edit', edit_playlist_track_path(playlist_track) %></td>
        <td><%= link_to 'Destroy', playlist_track, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Playlist Track', new_playlist_track_path %>
