<div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
		<div class="navbar-header">
		  <%= link_to "Home", root_path, id: "brand-name", class: "navbar-brand"%>
		</div> <!--navbar-header -->
		
		
		<div class="nav navbar-nav navbar-right">
			<% if logged_in? %>
				<li><%= link_to "Profile", current_user %> </li>
						<li><%= link_to "Settings", '#' %> </li>

						<li> <%= link_to "Log out", logout_path, method: :delete %> </li>

			<% else %>
				<li><%= link_to "Log in", login_path %></li>
			<% end %>
		</div>

    </div>
</div>
