<!DOCTYPE html>
<html>
  <head>
    <title>Database Demo</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'bootstrap','application', 'data-turbolinks-track': 'reload' %>
  </head>
  
  <%= render 'layouts/header' %>

  <body>
	  <div id= "hwarp" class="container " >
		  <% if not (current_page? '/login' ) and not (current_page? '/signup' ) then %> 
			  <h1>Database Demo</h1>
			  <% if logged_in? %>
				  <p>wellcome, <%= current_user.uname%></p>
				  <div class="row">
					  <aside class="col-md-6">
						  <section class="stats">
							  <%= render 'shared/stats' %>
						  </section>
					  </aside>
				  </div>
			  <% else %>
			  <% end %>
			  <br>
			  <div class="row">
				  <aside class="col-md-6">
					  <section class="stats">
						  <%= link_to 'Show All Artists', artists_url %>
						  <%= link_to 'Show All Songs', tracks_url %>
						  <%= link_to 'Show All Users', users_url %>
					  </section>
				  </aside>
			  </div>
			  
		  <% end %>
		  <%= yield %>
	  </div>
  </body>
  

</html>
