<!DOCTYPE html>
<html>
  <head>
    <title>Ror</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'bootstrap','application', 'data-turbolinks-track': 'reload' %>
  </head>
  
  <%= render 'layouts/header' %>

  <body>
	  <div id= "lwarp" class="container " >
		  <% if not current_page? '/login' %>
			  <h1>Database Demo</h1>
			  <% if logged_in? %>
				  <p>wellcome, <%= current_user.uname%></p>
				  <div class="row">
					  <aside class="col-md-6">
						  <section class="stats">
							  <%= render 'shared/stats' %>
						  </section>
					  </aside>
				  </div>
			  <% else %>
			  <% end %>
			  
			  <br>
			  
			  <%= form_for('/search' ,method: :get, url: root_url ) do  %>
				  <%= label_tag(:search) %>
				  <%= text_field_tag(:search) %>
				  <%= submit_tag("search") %>
			  <% end %>
		  <% end %>
		  <%= yield %>

	</div>

  </body>
  

</html>
