<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @album.atitle %>
</p>

<p>
  <strong>Date:</strong>
  <%= @album.adate %>
</p>

<%= link_to 'Edit', edit_album_path(@album) %> |
<%= link_to 'Back', albums_path %>
