<p id="notice"><%= notice %></p>

<p>
  <strong>Article:</strong>
  <%= @album.article %>
</p>

<p>
  <strong>Adate:</strong>
  <%= @album.adate %>
</p>

<%= link_to 'Edit', edit_album_path(@album) %> |
<%= link_to 'Back', albums_path %>
